.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

.disagreeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 14px;
  line-height: 1.42857;
  color: #AAAAAA;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.agreeContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 14px;
  line-height: 1.42857;
  color: #AAAAAA;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.sliderClass {
  width: 100%;
}